.top-section {
    height: 40vh;
    width: 100%;
    background: #ccc;
    padding: 40px 0 0 40px;
}

.HAM {
    width: 50px;
    height: 50px;
    background: #000;
    margin-bottom: 120px;
}

.main-CTA {
    width: 40%;
    height: 40px;
    border-radius: 50px;
    background: #000 ;
}

.item {
    width:50%;
    height: 200px;
    background: darkgray;
    float: left;
}


.two  {
    background: lightblue;
}

.three {
    background: lightblue;
}


